/*---GENERAL RULES---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "DM Sans", sans-serif;
}

/*---TOP SECTION RULES---*/

.top-section{
    height: calc(100vh - 100px);
    display: flex;
    background-color: rgb(20, 25, 34);
}

/*SIDEBAR SECTION RULES*/

.container-navbar{
    height: 100%;
}

.row-navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sidebar{
    width: 50px;
    background-color: black;
}

.small-navbar{
    padding: 5px;
    height: 100%;
}

.small-navbar img{
    width: 50%;
}

.navbar{
    display: none;
}

.circle-gray{
    background-color:rgb(123, 125, 130);
    border-radius: 50%;
}

/*MAIN CONTENT SECTION RULES*/

.main-content{
    width: calc(100vw - 50px);
    overflow: scroll;
}

/*HEADER SECTION RULES*/

header{
    position: fixed;
    left: 50px;
    top: 0;
    z-index: 1;
    width: calc(100vw - 50px);
    text-align: right;
    background-color: rgba(0, 0, 0, 0.582);
}


/*MAIN SECTION RULES*/

.container{
    max-width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-100{
    width: 100%;
}

.col-50{
    width: calc(50% - 10px);
    padding-left: 10px;
    margin-bottom: 5px;
}

.album-img{
    width: 100%;
}

/*---BOTTOM SECTION RULES---*/

.bottom-section{
    height: 100px;
    background-color: rgb(40, 40, 40);
}

/*FOOTER SECTION RULES*/

/*---TEXT RULES---*/

.borded-text{
    color: white;
    border-radius: 15px;
    border: 1px solid white;
    padding: 10px 35px;
    margin: 15px 5px;
    display: inline-block;
}

.main-text{
    display: inline-block;
    color: rgb(123, 125, 130);
    margin: 15px 10px;
    vertical-align: middle;
}

.t-cent{
    text-align: center;
}

.title-main{
    color: white;
    margin: 20px 10px;
}

.subtitle-main{
    color: white;
    margin: 5px 0px;
}

.t-small-bolder{
    font-size: x-small;
    color: rgb(123, 125, 130);
    font-weight: bolder;
}

.green-line{
    color: rgb(173, 255, 47);
    width: 30px;
    margin-left: 25%;
}

/*---UTILITY RULES---*/

.mar-top-75{
    margin-top: 75px;
}

.mar-bot-10{
    margin-bottom: 10px;
}

.opacity-75{
    opacity: 0.75;
}

.vert-bot{
    vertical-align: bottom;
}

/*---ID RULES---*/

/*---MEDIA QUERY RULES---*/

/*Media Query SM 576px*/

@media screen and (min-width: 576px){
    
}

/*Media Query MD 768px*/

/*col-md-33*/

@media screen and (min-width: 768px){
    
}

/*Media Query LG 992x*/

@media screen and (min-width: 992px){
    
}