/*---GENERAL RULES---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "DM Sans", sans-serif;
}

/*---TOP SECTION RULES---*/

.top-section{
    height: calc(100vh - 100px);
    display: flex;
    background-color: rgb(20, 25, 34);
}

/*SIDEBAR SECTION RULES*/

.container-navbar{
    height: 100%;
}

.row-navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sidebar{
    width: 50px;
    background-color: black;
}

.small-navbar{
    padding: 5px;
    height: 100%;
}

.small-navbar img{
    width: 50%;
}

.navbar-top{
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    display: none;
}

.navbar{
    width: 100%;
    height: 100%;
    display: none;
}

.nav{
    padding: 10px 15px;
}

.nav-sec{
    padding: 5px 15px;
    vertical-align: middle;
}

.logo{
    width: 100px;
}

.image-nav{
    width: 25px;
    vertical-align: middle;
}

.nav-sec-line{
    padding: 5px 15px;
    vertical-align: middle;
    border-left: 4px solid greenyellow;
}

.circle-gray{
    background-color:rgb(123, 125, 130);
    border-radius: 50%;
}

.square{
    height: 30px;
    width: 30px;
    background-color:rgb(123, 125, 130);
    margin: 5px 0px 5px 15px ;
    padding: 5px 8px;
    vertical-align: middle;
}

.nav-playlist{
    overflow-y: hidden;
    height: 80%;
}

.playlist-list{
    height: 70%;
    overflow-y: auto;
}

.navbar-bot{
    height: 100px;
    display: none;
}

.img-download{
    width: 15px;
}

.img-profile{
    width: 20px;
}

.vert-line{
    color: greenyellow;
}

.bot-sec{
    margin: 0px 15px;
}


/*MAIN CONTENT SECTION RULES*/

.main-content{
    width: calc(100vw - 50px);
    overflow: scroll;
}

/*HEADER SECTION RULES*/

header{
    position: fixed;
    left: 50px;
    top: 0;
    z-index: 1;
    width: calc(100vw - 50px);
    text-align: right;
    background-color: rgba(0, 0, 0, 0.582);
}


/*MAIN SECTION RULES*/

.container{
    max-width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-100{
    width: 100%;
}

.col-50{
    width: calc(50% - 10px);
    padding-left: 10px;
    margin-bottom: 5px;
}

.album-img{
    width: 100%;
}

/*---BOTTOM SECTION RULES---*/

.bottom-section{
    height: 100px;
    background-color: rgb(40, 40, 40);
    display: flex;
}


/*FOOTER SECTION RULES*/

.col-left{
    width: 25%;
    height: 100%;
    padding: 15px 5px;
    display: flex;
    align-items: center;
}

.col-left img{
    width: 35px;
    height: 35px;
    float: left;
    margin: 0px 5px;
}

.like{
    display: flex;
    flex-direction: column;
    color:rgb(123, 125, 130);
    margin: 0px 10px;
}

.d-flex{
    display: flex;
}

.col-center{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-list li{
    margin: 10px 15px;
    color: white;
    font-size: large;
}

.fa-circle-play{
    font-size: xx-large;
}

.playbar-controls{
    display: flex;
    width: 100%;
    align-items: center;
}

.start{
    width: 10%;
    text-align: center;
}

.end{
    width: 10%;
    text-align: center;
}

.playbar{
    width:80%;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(71, 71, 71);
}

.played{
    background-color: darkgray;
    border-radius: 5px;
    height: 5px;
    width: 50px;
}

.col-right{
    width: 25%;
    height: 100%;
    padding: 50px 5px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    align-items: center;
}

.col-right i{
    font-size: small;
    color: white;
}

.playbar-sm{
    width: 50%;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(71, 71, 71);
}

.played-sm{
    background-color: darkgray;
    border-radius: 5px;
    height: 5px;
    width: 30px;
}

/*---TEXT RULES---*/

.borded-text{
    color: white;
    border-radius: 15px;
    border: 1px solid white;
    padding: 10px 35px;
    margin: 15px 5px;
    display: inline-block;
}

.main-text{
    display: inline-block;
    color: rgb(123, 125, 130);
    margin: 15px 10px;
    vertical-align: middle;
}

.t-cent{
    text-align: center;
}

.title-main{
    color: white;
    margin: 20px 10px;
}

.subtitle-main{
    color: white;
    margin: 5px 0px;
}

.t-small-bolder{
    font-size: x-small;
    color: rgb(123, 125, 130);
    font-weight: bolder;
}

.green-line{
    color: rgb(173, 255, 47);
    width: 30px;
    margin-left: 25%;
}

.title-nav{
    color: white;
    margin: 20px 5px 5px 15px;
}

/*---UTILITY RULES---*/

.mar-top-75{
    margin-top: 75px;
}

.mar-bot-10{
    margin-bottom: 10px;
}

.mar-dx-5{
    margin-right: 5px;
}

.opacity-75{
    opacity: 0.75;
}

.vert-bot{
    vertical-align: bottom;
}

.vert-al{
    vertical-align: middle;
}

.disp-inbl{
    display: inline-block;
}

/*---ID RULES---*/

#t-white{
    color: white;
}

/*HOVERS RULES*/

h6:hover{
    color: white;
}

/*---MEDIA QUERY RULES---*/

/*Media Query SM 576px*/

/*Navbar*/

@media screen and (min-width: 576px){
    .sidebar{
        width: 200px;
    }
    .small-navbar{
        display: none;
    }
    .navbar{
        display: block;
    }
    .navbar-top{
        display: block;
    }
    .navbar-bot{
        display: block;
    }
    .main-content{
        width: calc(100vw - 200px);
    }
    header{
       width: calc(100vw - 200px);
       left: 200px;
    }
    .mar-dx-10{
        margin-right: 10px;
    }    
}

/*Media Query MD 768px*/

/*col-md-33*/

@media screen and (min-width: 768px){
    .col-md-44{
        width: calc(100% / 4 - 10px);
    }
    .like{
        flex-direction: row;
    }
    .like i{
        margin: 0px 5px;
    }
}

/*Media Query LG 992x*/

@media screen and (min-width: 992px){
    .col-lg-33{
        width: calc(100% / 6 - 10px)
    }
}